.bg-box{
    width: 1500px;
    height: 700px;
    background-color: green;
    background-image: url(../img/house.jpg), url(../img/lamp-png-34914.png), url(../img/green-png-44873.png), url(../img/hedgehog.webp), url(../img/a-donut.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, top, bottom, left, right;
    background-size: 700px, 50px, 150px, 50px, 70px;
}